BOWLING_ENVIRONMENT=production
BOWLING_DATABASE_URL=sqlite:///../../data/app.db
BOWLING_CORS_ORIGINS=http://localhost:3001,http://127.0.0.1:3001,https://bowling.sophiealexandra.de
BOWLING_TESSERACT_CMD=/usr/bin/tesseract
